#lyrics{
    /* display: none; */
    /* width: 180px; */
}

#lyrics {
    top: 147px;
    position: absolute;
    color: white;
    background-color: blue;
    text-align: justify;
    transform: translate(230px, 201px);
    margin: 0%;
}
p{
    margin-top: 0px;
    margin-bottom: 0px;
}
#butwehavethepower{
    right: 0px;
}